input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.wrapper {
  margin-right: 150px;
  display: flex;
}

@media (min-width: 350px) {
  .wrapper{
    margin-right: auto;
  }
  .scrollable-area{
    min-height: 460px;
  }
}
